@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "inter";
    src: url("assets/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }